<h1>Novo evento</h1>
<% if @event.errors.any? %>
    <div id="error_explanation">
      <h2>
          NÃO FOI POSSÍVEL CONCLUIR O CADASTRO DO SEU EVENTO. TENTE NOVAMENTE, por obséquio.
      </h2>
      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for :event, url: events_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </p>
  <p>
  	<%= f.label :eventdate %><br>
  	<%= f.text_field :eventdate %>
  </p>
 
   <p>
  	<%= f.label :description %><br>
  	<%= f.text_area :description %>
  </p>

  <p>
    <%= f.submit %>
  </p>  
<% end %>

