<center>
<h1> Cola no Rolê</h1>
<h4> Confira seu evento </h4><br>

<p> <%= @event.name %> </p>
<p> <%= @event.address %> </p>
<p> <%= @event.eventdate %> </p>
<p> <%= @event.description %> </p>

</center>

<%= link_to "Todos os eventos", events_path %>
